body {
  background-color: #76b852;
}

.tableController{
  margin: auto;
}

.tableController .table {
  margin: auto;
  font-family: Raleway, sans-serif;
  margin-top: 5%;
}

.row {

    border-right: 1px solid #000;
    border-left: 1px solid #000;
    vertical-align: top;
    padding: 4px;
    padding-right: 18%;
    padding-left: 4%;
    text-align: left;
}

td {
  padding-left: 18px;
  padding-right: 38px;
  padding-top: 10px;
  margin-right: 35px;;
  text-align: left;

}

html {
      background-color: #76b852;
}

.row data-title {
  text-align: left;
}

#Traits .graphs {
  position: relative;
  left: 28%;
}

#Traits #wk {
  position: absolute;
  top: 115%;
}

#Traits #mth {
  position: absolute;
  top: 115%;
  margin-left: 7%;
}

#Traits #yr {
  position: absolute;
  top: 115%;
    margin-left: 15%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.log-button {
    position: absolute;
    left: 80%;
}

.button:hover,.button:active,.button:focus {
  background: #43A047;
}

.bn
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  /*margin-bottom: 10px;*/
}
#compBut {
  background: #43A047;
}

.bn:hover,.bn:active,.bn:focus {
  background: #43A047;
}

.one {
    width: 50%;
    float: left;
}
.two {
    margin-left: 15%;
}
