body {
  background-color: #c2ecfc;
}

.tableController{
  margin: auto;
}

.tableController .table {
  margin: auto;
  font-family: Raleway, sans-serif;
  margin-top: 5%;
}

.buttonController #buttons #traitsBut {
  position:relative;
  left: 20%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 35px;
  padding-right: 35px;
  font-family: Raleway, sans-serif;
}

.buttonController #buttons #timeBut {
  text-align: center;
  position:relative;
  left: 20%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 35px;
  padding-right: 35px;
  font-family: Raleway, sans-serif;
}

.buttonController #buttons #compBut {
  position:relative;
  left: 20%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Raleway, sans-serif;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.log-button {
    position: absolute;
    left: 80%;
}
