<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS lmao</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-require="angular.js@1.0.x" data-semver="1.0.8"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="index_loginCtrl">
  <h3>Login</h3>
  <!-- Form to get username & Password -->
   <form action="/#!/view1">
      <label>Username:</label><input type="text" ng-model="username" /></br></br>
      <label></label>Password:</label><input type="password" ng-model="password"></br>
      <button  type="submit" ng-click="submit()">login</button>
  </form>

</body>
</html>
